* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0A2A66;
    --secondary: #ffffff;
    --success: #00ff00;
    --info: #0000ff;
    --danger: #cc1318;
    --light: #0a5b04;
    --dark: #000;
}

body {
    width: 100%;
    height: 100vh;

}

/*Aside*/
.aside {
    background-color: var(--primary);
    width: 22%;
    height: 100vh;
    transition: all 0.4s ease-in-out;
}

.aside .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    transition: all 200ms ease-in-out;



}

.encabezado {
    height: 75px;
    background-color: var(--primary);
    align-items: center;
}

.encabezado .logo {
    width: 50px;
    height: 50px;

    img {
        width: 70px;
    }
}

.sidebar {
    background-color: var(--primary);
}

/* logo */
.aside .header img {
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    transition: all 0.4s ease-in-out;
}

.logo:hover {
    background-color: var(--secondary);
}

.aside .header .mover {
    border: none;
    height: 35px;
    width: 35px;
    background-color: var(--secondary);
    border-radius: 8px;
    cursor: pointer;
    color: var(--primary);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.aside .header .mover:hover {
    background-color: #ffffffc6;
}

/* nav */


.nav {

    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}




.nav li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    transition: all 0.4s ease-in-out;


}

.aside .nav a span {
    transition: all 200ms ease-in-out;
}

.nav a {
    width: 100%;
    justify-content: center;
    color: var(--secondary);
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    transition: all 200ms ease-in-out;
    font-size: 20px;

}

.nav a:hover {
    background-color: #ffffff1d;
    border-left: 4px solid var(--secondary);
}

/* aside mini */

.aside.cerrar .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside.cerrar {
    width: 85px;
}

.aside.cerrar .btnmover {
    transform: rotate(180deg);
}

.aside.cerrar .nav a span {
    display: none;
}

.aside.cerrar .nav a {
    width: auto;
    height: auto;
    border-radius: 8px;
    transition: all 200ms ease-in-out;
}

.aside.cerrar .nav a:hover {
    background-color: var(--secondary);
    border: none;
    color: var(--primary);

}

/* main */
.main {
    width: 100%;
    /* height: 100vh; */
    height: auto;
    background-color: rgb(192, 192, 192);
    transition: all 0.4s ease-in-out;
}


.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscardor {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    color: var(--primary);
    border-radius: 10px;
    justify-content: space-around;
    background-color: #ffffff65;

    .lupa {
        display: flex;
        width: 92%;
        align-items: center;
        gap: 10px;
        height: 40px;
        padding-left: 10px;
        color: var(--primary);
        border-radius: 10px;

    }

    input {
        width: 90%;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

    input::placeholder {
        color: var(--primary);
    }
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
    padding-left: 10px;
    color: var(--primary);
    justify-content: center;
    border-radius: 10px;
    justify-content: center;
    background-color: #ffffff65;

    .imagen {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary);
        font-size: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

    }
}

.main .header img {
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.main .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**EStilos de las tablas */

tbody tr td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

tbody tr .boton {
    color: rgb(202, 148, 11);
}

.responsive_tabla {
    display: none;
}

.boton_modal {
    background-color: var(--primary);
    color: var(--secondary);

}

textarea {
    width: 430px;
    height: auto;
    outline: none;
    border: 1px solid var(--dark);
    border-radius: 3px 10px;
    resize: unset;
}


#nomA {
    display: none;
}

#fecha_salidaA {
    display: none;
}

#MotA {
    display: none;
}

#fech_aentradaA {
    display: none;
}

#archivoA {
    display: none;
}

tbody tr .boton {
    color: rgb(202, 148, 11);
}

tbody tr .botonn {
    color: var(--light);
}

tbody tr .botonns {
    color: var(--danger);
}

table thead {
    background-color: var(--primary);
}

#foto {
    display: none;
    
}

table thead tr th {
    background-color: var(--primary);
}
#changeAvatar{
    display: none;
}
#avatar{
    cursor: pointer;
    transform: skew();
}

.encabezado_tabla tr th{
    background-color: var(--primary);
    color: var(--secondary);
  }

/**Control de errores del Login */
/* #errorNombre{
    display: none;
}
#errorCorreo{
    display: none;
} */
/* responive con Query media */
@media screen and (max-width:884px) {
    textarea {
        width: 300px;
        height: auto;
        outline: none;
        border: 1px solid var(--dark);
        border-radius: 3px 10px;
        resize: unset;
    }

    .responsive_tabla {
        display: block;
    }

    .table {
        display: none;
    }

    .responsive_tabla {
        display: flex;
        /* justify-content:center; */
        gap: 40px;
        flex-wrap: wrap;

    }

    #foto {
        display: none;
    }

    .cuerpo {
        width: 350px;
        height: 320px;
        border-radius: 15px;
        box-shadow: 3px 5px 6px var(--secondary);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        margin-left: 15px;
        margin-top: 15px;
        background-color: var(--secondary);

    }

    .img {
        width: 100px;
        height: 100px;
        padding-top: -15px;
    }

    .img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 120%;
        box-shadow: 2px 3px 3px var(--secondary);
    }

    .cuer {
        font-family: 'Times New Roman', Times, serif;
    }

    hr {
        border: 1px solid var(--primary);
    }

    label {
        font-family: 'Times New Roman', Times, serif;
        color: var(--info);
    }

    .boton {
        color: rgb(210, 187, 13);
    }

    .botonn {
        color: var(--light);
    }

    .botonns {
        color: var(--danger);
    }
    #changeAvatar{
        display: none;
    }

}