
.cajaTarjetas{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    
}
.tarjeta{
    width: 350px;
    height: 160px;
    /* border-radius: 5px; */
    box-shadow: 2px 2px 3px rgb(16, 0, 0);
    background-color: var(--primary);
    
}

/* TABLA Y GRAFICO */
/* .tablaYgrafico{
    height: 450px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    font-family: cambria;

    
    .tabla{
        height: 400px;
        .h4{
            font-weight: 800;
            
        }
        th{
            background-color: var(--primary);
            color: white;
            font-weight: normal;
        }
        
        #paginacion {
            margin-top: 10px;
            text-align: center;
          }
    }
    .grafico{
        .miGrafico{
            width: 300px;
            height: 200px;
        }
    }

} */
